<div class="repositorypage">
  <h1 class="header">Deep History Analytics</h1>

    <div class="search container" ng-controller="myController">
      <input type="text" name="query" autocomplete="off" placeholder="Search for a Repository..." onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Search for a Repository...'" id="textbox" [(ngModel)]="searchTerm"/>
    </div>
    <div class="cards_container">
        <mat-grid-list cols="3" rowHeight="2.5:1" gutterSize="10">
          <mat-grid-tile *ngFor="let repo of repos | repoFilter:searchTerm" class="repocards" title={{repo.name}} (click)="cardOnClick(repo.name)" >{{repo.name}}</mat-grid-tile>
        </mat-grid-list>
    </div>

  <button type="button" class="btn-logout" (click)="logout()">Logout</button>

  <div>
    <page-repo hidden></page-repo>
  </div>
</div>
