@font-face { font-family: 'Nexa Light'; src: url('/src/assets/fonts/Nexa\ Light.otf');}

.header {
  font-weight: normal;
  font-size: 250%;
  font-family: 'Nexa Light';
  margin-left: 40px;
  margin-top: 20px;
}

.repositorypage {
  height: 100vh;
  width: 100vw;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.search #textbox {
    width: 33%;
    color: black;
    outline: none;
    padding: 10px;
    font-size: 200%;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid white;
    margin-bottom: 10px;
}

.btn-logout {
  margin-top: 20px;
  margin-right: 40px;
  padding: 3px 20px 3px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-family: 'Nexa Light';
  font-size: 150%;
  position:absolute;
  top:0;
  right:0;
}

ul {
  list-style-type: none;
  font-family: 'Nexa Light';
}

.repocards {
  max-width: 300px;
  min-width: 300px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 50px 2px 50px 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 200%;
}

.cards {
  height: 50%;
  overflow-y: scroll;
}

.cards_container {
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

#repocolumn{
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 70px;
    grid-auto-rows: 100px;
}

