.repo-dropdown:hover{
  background: #ccc;
}
.repo-dropdown{
  cursor: pointer;
}

.panel-body{
  word-break:break-all
}

.profile-panel{
  padding-left: 200px;
  position: relative;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
}

.profile-panel .pic{
  position: absolute;
  left: 25px;
  top:25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: contain !important;
  /* background-position: center center; */

}

.profile-panel .name{
  padding: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.profile-panel .dd-arrow{
  position: absolute;
  right: 20px;
  bottom: 20px;

}

.dd-info{
  width: 100%;
  height: 0;
  transition: height 300ms ease-out;
  overflow: hidden;
}

.dd-info.open{
  height: 100px;
}

.panel{
  width: 80%;
  margin: 10px auto;
}

.profile-panel .details{
  width: 80%;
  padding-left: 20px;
  padding-top: 20px;
}

.repo-dropdown{
  z-index: 20;
}
