.repo-dropdown:hover{
  background: #ccc;
}
.repo-dropdown{
  cursor: pointer;
}

.panel-body{
  word-break:break-all
}

.profile-panel{
  padding-left: 200px;
  position: relative;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
}

.profile-panel .pic{
  position: absolute;
  left: 25px;
  top:25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: contain !important;
  /* background-position: center center; */

}

.profile-panel .name{
  padding: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.profile-panel .dd-arrow{
  position: absolute;
  right: 20px;
  bottom: 20px;

}

.dd-info{
  width: 100%;
  max-height: 0;
  transition: height 300ms ease-out;
  overflow: hidden;
}

.dd-info.open{
  max-height: 1000px;
}

.panel{
  width: 80%;
  margin: 10px auto;
}

.profile-panel .details{
  width: 80%;
  padding-left: 20px;
  padding-top: 20px;
}

.repo-dropdown{
  z-index: 20;
}

.dd-info ul{
  padding: 0;
  width: 90%;
  margin: 10px auto;
}


.loginContainer{
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: center;
}

.loginContainer .login-input{
  width: 80%;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 22px;
  padding: 20px;
}

.loginContainer .login-button{
  width: 80%;
  margin: 30px auto;
  border-radius: 3px;
  font-size: 22px;
  padding: 2px 0px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
}
