<div class="repository_page">
  <h1 class="header">Deep History Analytics</h1>

  <div class="search container" ng-controller="myController">
    <button class="fileCommitButtons" (click)="showme=false">Files</button>
    <button class="fileCommitButtons"(click)="showme=true">Commits</button>

    <input type="text" name="query" autocomplete="off" placeholder="Search for a Commit..." onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Search for a Commit...'" id="textbox" [(ngModel)]="searchTerm" />
  </div>

  <div class="center_container" id="cards_container" [hidden]=!showme>
    <mat-grid-list cols="1" rowHeight="15:1" gutterSize="10">
      <mat-grid-tile *ngFor="let commit of commits | commitFilter:searchTerm" class="repocards">{{commit.commit.message}}</mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="center_container" id="cards_container" [hidden]=showme>
    <mat-grid-list cols="1" rowHeight="15:1" gutterSize="10">
      <mat-grid-tile *ngFor="let file of files" (click)="fileOnClick(file)" class="repocards">{{file.path}}</mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- https://stackoverflow.com/questions/41306797/html-how-to-add-line-numbers-to-a-source-code-block -->
  <!-- The design and idea for this display is from the above link -->
  <div class="center_container" id="table_container">
    <pre class="code">
      <!-- tr is each ROW, while th is the number, and code is the line of code -->
      <span *ngFor="let code of codes" class="tr">
        <span class="th"></span>
        <code title={{code}}>{{ code }}</code>
      </span>
    </pre>
  </div>

  <button type="
        button" class="btn-previous-page" (click)="returnBack()">Return to Repository Page</button>

</div>
