<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel=
  "stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes"
  rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <script src='../../../assets/js/project-calendar.js'></script>
  <div class="album text-center" style="width:100%">
    <h2 class="text-center" style="font-family:'Great Vibes'; font-size: 4rem; color: var(--charcoal);">
      Project
    </h2>
    <div class="container" style="width:100%">
      <div id="calendar_basic" style="width: 1000px; text-align: center; margin-left: auto"></div>
    </div>
    <div class="container" style="width:100%">
      <div id="pie_pull" style="width: 1000px; text-align: center; margin-left: auto"></div>
    </div>
    <div class="container" style="width:100%">
      <div id="pie_push" style="width: 1000px; text-align: center; margin-left: auto"></div>
    </div>
    <div class="container" style="width:100%">
      <div id="pie_cron" style="width: 1000px; text-align: center; margin-left: auto"></div>
    </div>
    <div class="container">
      <table class="table table-bordered table-hover table-condensed" id="builds">
        <thead><tr><th title="Field #1">number</th>
          <th title="Field #2">hash</th>
          <th title="Field #3">owner</th>
          <th title="Field #4">time</th>
          <th title="Field #5">status</th>
        </tr></thead>
      </table>
    </div>
    <div class="container">
      <table class="table table-bordered table-hover table-condensed" id="breaks">
        <thead><tr><th title="Field #1">name</th>
          <th title="Field #2">break</th>
          <th title="Field #3">not  break</th>
          <th title="Field #4">fix</th>
          <th title="Field #5">notfix</th>
        </tr></thead>
      </table>
    </div>
  </div>
</body>
</html>
