
.txt-sz-header {
	font-size: 10vw; 
}

.bg-main {
	background: url('./img/ring-ordering-mobile.png');
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}