<div class="container">
  <section class="bg-g1 jumbotron low-popup" style=
  "margin-top: 3rem; margin-bottom: 3rem;">
    <div class="container">
      <div class="row">
        <div class="col banner-content text-center">
          <h1 class="boris text-center">What we do<br></h1>
          <p>A couple sentences explaining what we do</p>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="jumbotron text-center color-1-theme container-fluid">
  <div class="container text-center">
    <h2 class="text-center gv-header">Our Purpose</h2>
    <blockquote class="blockquote">
      <p class="">Mission Statement Here</p>
    </blockquote>
  </div>
</section>