.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
  align-self: center;
  width: 25%;
}

.container {
  width: 50%;
  margin-left: 44%;
  margin-right: 50%;
}

.loginPage {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  border-radius: 3px;
}
