<body class="bg-g3">
  <div class=content>
      <nav class=
      "navbar navbar-expand-md sticky-top navbar-light fixed-top bg-light popup">
        <a class="navbar-brand" routerLink="/home"><img src="../../assets/images/logo.png"
        class="d-inline-block align-top" width="60" height="60"></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink=
              "/project">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink=
              "/wiki">WIKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink=
              "/contact">CONTACT</a>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <div>
                <a routerLink="/user">
                  <img src={{userImageUrl}} class="rounded float-right" width="60px" height="60px" id="userAvatar">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</body>