<div class="repositorypage">
    <h1 class="header">Continuous Integration</h1>
  
      <div class="search container" ng-controller="myController">
        <input type="text" name="query" autocomplete="off" placeholder="Search for a Repository..." onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Search for a Repository...'" id="textbox" [(ngModel)]="searchTerm"/>
      </div>
      <div class="cards cards_container">
        <ul class="repos">
          <li *ngFor="let repo of repos | repoFilter:searchTerm">
            <mat-card class="repocards" title={{repo.name}}>{{repo.name}}</mat-card>
          </li>
        </ul>
      </div>
  
    <button type="button" class="btn-logout" (click)="logout()">Logout</button>
  
  </div>