.code_row {
  margin: 20px;
  padding: 20px;
  overflow-x: auto;
  background: #eee;
  border: 1px solid #333;
}

pre.code {
  display: inline-table;
  table-layout: fixed;
  width: 44.5%;
  white-space: pre-wrap;
  border: solid 1px black;
  border-collapse: collapse;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0;
}

pre.code:first-of-type {
  margin-left:0;
}

pre.code:last-of-type {
  margin-right:0;
}

pre.code::before {
  /* counter-reset: linenum; */
}

pre.code span.tr {
  display: table-row;
}

pre.code span.th {
  display: table-cell;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  background: #f0f0f0;
  padding: 3px;
  padding-top: 0px;
  border-right: solid 1px silver;
  border-top: solid 1px silver;
}

span.th {
  /* content: attr(custom_linenumber); */
  text-align: right;
  display: block;

  font-size: 90%;
  color: #999;
}

pre.code span.th {
  width: 4em;
}

code.add {
  background-color: #aafcaa;
}

code.deletion {
  background-color: #ec9f9f80;
}

code.linenumber {
  background-color:	#5DBCD2;
}

pre.code code {
  display: table-cell;
  text-align: left;
  padding: 3px;
}

pre.code span.tr.first-row span.th {
  border-top: none;
}

pre.code span.e code {
  background: #f0f8ff;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('/src/assets/fonts/Nexa\ Light.otf');
}

.header {
  font-weight: normal;
  font-size: 250%;
  font-family: 'Nexa Light';
  margin-left: 40px;
  margin-top: 20px;
}

.search #textbox {
  width: 33%;
  color: black;
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  border-top: 2px solid white;
  margin-bottom: 10px;
  font-size:150%;
}

.container {
  height: 10%;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn-previous-page {
  margin-top: 20px;
  margin-right: 40px;
  padding: 3px 20px 3px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-family: 'Nexa Light';
  font-size: 150%;
  position: absolute;
  top: 0;
  right: 0;
}

.arrow {
  height: 5%;
  width: 5%;
  float: left;
  display:block;
  margin-left:auto;
  margin-right:auto;
}